<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto:400i" rel="stylesheet">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>O! Coiffures - Salon de coiffure Mareau-aux-Bois</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
    <meta name="description" content="Votre salon de coiffure O! Coiffures au 2 rue du Bourg 45300 Mareau-aux-bois (Proche de Pithiviers). Prise de rdv au 02-38-34-04-32.">
  </head>
  <body>
    <div class="navbar-wagon">
      <!-- Logo -->
      <a href="index.html" class="navbar-wagon-brand">
        <img src="images/logo.png" alt="logo">
      </a>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">

        <a href="contact.html" class="navbar-wagon-item navbar-wagon-link">Contact</a>
        <a href="team.html" class="navbar-wagon-item navbar-wagon-link">Équipe</a>
      <!-- Dropdown appearing on mobile only -->
      </div>

      <div class="navbar-wagon-item visible-xs">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="contact.html">Contact</a></li>
            <li><a href="team.html">Équipe</a></li>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>

    <div class="footer">
      <div class="reseau-social">
        <a href="">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
      <div class="copyright">
        <p>&copy; O! Coiffures</p>
      </div>
    </div>
  </body>
</html>
