.footer {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.reseau-social {
  margin: auto 10px;
}

.copyright {
  margin: auto 10px;
  p {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #3f0f3a;
    margin: 0;
  }
}
