.container-card {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 10%;
  margin-bottom: 3em;
  width: 60%;
}

#img-flo {
  width: 50%;
  display: flex;
  float: left;
  padding: 0 10px 0 0;
}
