body {
  min-height: 100vh;
  background-color: white;
  margin: 0;
  position: relative;
  background-color: #efefef;
}

#title {
  display: flex;
  height: calc(20vh - 50px);
  color: #3f0f3a;

  h1 {
    margin: auto;
    font-size: 60px;
    font-family: 'Lobster', cursive;
  }
}

#head {
  position: relative;
  display: flex;
  text-align: center;
  background-image: url(../images/haircut.jpg);
  background-size: cover !important;
  background-position: center;
  height: calc(60vh - 50px );
}

.fa-facebook-square {
  color: #3b5399;
  font-size: 20px;
  padding: 5px;
  &:hover {
    color: #1f2e6b;
  }
}

.fa-instagram {
  color: #dd1f65;
  font-size: 20px;
  padding: 5px;
  &:hover {
    color: #bf1855;
  }
}

.icone {
  width: 100%;
}

.texte-accueil {
  display: flex;
  width: 100%;
  text-align: center;
  color: #3f0f3a;
  height: calc(25vh - 50px);
  h3 {
    margin: auto;
  }
}
