---
title: O! Coiffures - Contact
---

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNNOr9D3_HEOraXhEetwywEvFg8CFdjQE"></script>

<script type="text/javascript">
  var myLatlng = new google.maps.LatLng(48.102698, 2.188570900000059);
  var myOptions = {
      zoom: 14,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
  };
  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "You are here!"
  });
</script>
    </div>
    <div class="col-sm-6 address">
      <h3>O! Coiffures</h3>
      <p><i class="fa fa-map-marker" aria-hidden="true"></i> - 2 rue du bourg<br>45300 MAREAU-AUX-BOIS</p>
      <p><i class="fa fa-mobile" aria-hidden="true"></i> - 02 38 34 04 32</p>
    </div>
  </div>
</div>
