---
title: O! Coiffures
---
<div class="text-center" id="title">
  <h1>O! Coiffures</h1>
</div>

<div id="head">
</div>

<div class="texte-accueil">
<h3>"La plus belle des coiffures, est celle qui vous donne le sourire"</h3>
</div>
