---
title: O! Coiffure - Home
---

<div id="head">
  <div class="text-home">
    <h1>O! Coiffure</h1>
    <ul class="list-inline">
      <li>
        <a href="">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
