---
title: O! Coiffure - Team
---
<div class="container-card">
  <div class="card">
    <img src="images/flo.jpg" alt="Florence Delprat" id="img-flo">
    <p>
      Un petit salon de village,un endroit chaleureux plein de partage, des conseils et des idées qui fusent à toute allure... Bienvenue chez O'Coiffure!
  "un salon de coiffure en pleine campagne??!! tu parles ça doit rimer avec mise en plis, bigoudis et tisanes!"
  O non! O pas chez Florence!
  Cette coiffeuse confirmée vous accueille dans son salon aux tons chauds, chics et sobres, équipé de sièges massant, aux espaces définis pour votre bien être.
  Plus qu'une coiffeuse, Flo vous ouvre la porte de son univers, à l'écoute de ses clientes et pleine d'énergie positive, elle sait parfaitement vous conseiller et orienter vos désirs en s'adaptant à votre style et morphologie.
  Soucieuse de vos attentes, Flo prend le temps de s'occuper de vous et met à profit toutes les techniques acquises au cours de ses nombreuses formations.
  Accompagnée par sa jeune apprentie, Flo s'adapte à toutes les demandes réalisables et à tous les âges! Que vous soyez blonde, brune, gris, roux, bouclé et même en manque de cheveux... Sa devise pourrait être :" la plus belle coiffure au monde est celle qui vous donne le sourire "
    </p>
  </div>
</div>
